export(clean_str)
export(count_syllables)
export(count_syllables_df)
export(highlighter)
export(number_replacer)
export(reverse_string)
export(search_binder)
export(split_into_sentences)
export(str_extract_bound)
export(str_replacer)
export(search_scripts)
export(sub_stringer)

importFrom(magrittr,"%>%")
importFrom(crayon,red)
importFrom(dplyr,arrange)
importFrom(dplyr,filter)
importFrom(dplyr,inner_join)
importFrom(dplyr,lag)
importFrom(dplyr,lead)
importFrom(dplyr,mutate)
importFrom(dplyr,row_number)
importFrom(dplyr,select)
importFrom(purrr,map_df)
importFrom(stringi,stri_match_all_regex)
importFrom(stringr,str_count)
importFrom(stringr,str_detect)
importFrom(stringr,str_replace)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_split)
importFrom(stringr,str_squish)
importFrom(stringr,str_sub)
importFrom(stringr,str_trim)
importFrom(tibble,enframe)
importFrom(tidyr,as_tibble)
importFrom(tidyr,unite)
