export(clean_str)
export(highlighter)
export(number_replacer)
export(search_binder)
export(split_into_sentences)
export(str_replacer)
export(search_scripts)
export(sub_stringer)

importFrom(magrittr,"%>%")
